.counter {
    position : absolute;
    left : 0;
    top : 0;
    z-index : 1;
}
body {
    overflow : scroll;
    font-weight : bold;
    font-size : 15px;
}
.scene {
    float : left;
    overflow : hidden;
    /*box-shadow : inset 0 0 50px 10px red;*/
    background : #333333;
    position : relative;
    width :600px;
    height : 600px;0
    position : relative;
    -webkit-transform: translateZ(0);
}
/*.scene.adrenaline-mode {*/
    /*[>background : url('/images/adrenalin_mode_bg.png') top left repeat-x;<]*/
/*}*/
/*.scene.adrenaline-mode::after {*/
    /*position : absolute;*/
    /*top : 0;*/
    /*left: 0;*/
    /*background : url('/images/adrenalin_mode_bg.png') top left repeat-x;*/
    /*-webkit-transform : rotate(-90deg);*/
    /*width : 100%;*/
    /*height : 100%;*/
    /*content : "";*/
/*}*/
/*.scene.adrenaline-mode::before {*/
    /*position : absolute;*/
    /*top : 0;*/
    /*right : 0;*/
    /*background : url('/images/adrenalin_mode_bg.png') top left repeat-x;*/
    /*-webkit-transform : rotate(90deg);*/
    /*width : 100%;*/
    /*height : 100%;*/
    /*content : "";*/
/*}*/
/*.adrenaline-mode .effects::before {*/
    /*position : absolute;*/
    /*bottom : 0;*/
    /*right : 0;*/
    /*background : url('/images/adrenalin_mode_bg.png') top left repeat-x;*/
    /*-webkit-transform : rotate(180deg);*/
    /*width : 100%;*/
    /*height : 100%;*/
    /*content : "";*/
/*}*/
.scene canvas, .effects{
    position : absolute;
    width : 100%;
    height : 100%;
}
.shape {
    position : absolute;
    background-size : 100% 100%;
    /*background-origin: border-box;*/
    background-position : center;
    /*background-color: blue;*/
}
/*.shape.torso1::after {*/
  /*width : 100px;*/
  /*height : 100px;*/
  /*content : "";*/
  /*position : absolute;*/
  /*top : 0;*/
  /*left : 0;*/
  /*[>background : red;<]*/
/*}*/
.shape.torso1{
  background-image : url(/images/torso1.png);
}
.shape.torso2{
  background-image : url(/images/torso2.png);
}
.shape.torso3{
  background-image : url(/images/torso3.png);
}
.shape.head{
  background-image : url(/images/head.png);
}
.shape.lowerArmL{
  background-image : url(/images/lowerArmL.png);
}
.shape.lowerArmR{
  background-image : url(/images/lowerArmR.png);
}
.shape.upperArmL{
  background-image : url(/images/upperArmL.png);
}
.shape.upperArmR{
  background-image : url(/images/upperArmR.png);
}
.shape.lowerLegL{
  background-image : url(/images/lowerLegL.png);
}
.shape.lowerLegR{
  background-image : url(/images/lowerLegR.png);
}
.shape.upperLegL{
  background-image : url(/images/upperLegL.png);
}
.shape.upperLegR{
  background-image : url(/images/upperLegR.png);
}
.shape.ground {
  /*background-color : #CCCCCC;*/
  /*background :url(/images/ground_6.png), url(/images/ground_2.png),  url(/images/ground_4.png), url(/images/ground_3.png), url(/images/ground_5.png),url(/images/ground_1.png);*/
  background : url(/images/ground_2.png),  url(/images/ground_7.png), url(/images/ground_3.png), url(/images/ground_5.png),url(/images/ground_1.png);
  background-size : 150%;
  /*background-size : auto;*/
  background-repeat : repeat-y;
}
.effect {
  /*content : "BLOCK";*/
  position : absolute;
  background-size : 100%;
  background-repeat : no-repeat;
  /*-webkit-animation-duration: 300ms;*/
  /*-webkit-animation-name: slidein;*/
  width: 75px;
  height : 75px;
  margin-left : -37.5px;
  margin-top : -37.5px;
}
@-webkit-keyframes slidein {
  0% {
    width : 25px;
    height : 25px;
    margin-left : -12.5px;
    margin-top : -12.5px;
  }
  100% {
    width: 75px;
    height : 75px;
    margin-left : -37.5px;
    margin-top : -37.5px;
  }
}
.pow.frame1 {
  background-image : url('/images/1.png');
}
.pow.frame2 {
  background-image : url('/images/2.png');
}
.pow.frame3 {
  background-image : url('/images/3.png');
}
.pow.frame4 {
  background-image : url('/images/4.png');
}
.block.frame1 {
  background-image : url('/images/effect_1.png');
}
.block.frame2 {
  background-image : url('/images/effect_2.png');
}
.block.frame3 {
  background-image : url('/images/effect_3.png');
}
.block.frame4 {
  background-image : url('/images/effect_4.png');
}
.block.frame5 {
  background-image : url('/images/effect_5.png');
}
.indicators{
  width : 600px;
  overflow : hidden;
}
.indicators .hp {
  width : 50%;
  box-sizing : border-box;
  float : left;
}
